* {
    --primary-color: rgb(2, 172, 240);
    --secondary-color: rgb(20, 20, 20);
    --primary-hover-color: rgb(0, 117, 226);
}

html {
    height: 145px;
}

body {
    width: 300px;
    margin: 0;
    background-color: var(--primary-color);
    color: white;

    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1 {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2 {
    font-size: 1rem;
}

.section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 12px;
    background-color: var(--secondary-color);
    cursor: pointer;
}

#info-header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: 10px;
}

.expand-arrow {
    background-image: url("assets/expand-arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    margin-right: 3px;
}

.flipped {
    transform: rotate(180deg);
}

.checkmark {
    font-size: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.9rem;
    margin-bottom: 2px;
}

.section-body {
    margin: 0;
    padding: 10px;
    background-color: var(--secondary-color);
}

input {
    font-size: 0.8rem;
    color: white;
    background-color: var(--secondary-color);
    padding: 5px;
    border-radius: 4px;
    border: 1px solid grey;
    outline: none;
    margin-bottom: 5px;
    transition: border-color 0.2s;
}

input#earliestDate {
    cursor: pointer;
}

input:hover {
    border-color: white;
}

input:focus {
    border-color: var(--primary-color);
}

#class-options {
    list-style-type: none;
    padding: 0;
    margin-top: -5px;
}

#class-options li {
    float: left;
    margin: 0 5px 0 0;
    width: 100px;
    height: 40px;
    position: relative;
}

#class-options label,
#class-options input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#class-options input[type="radio"] {
    opacity: 0;
    z-index: 100;
    cursor: pointer;
}

#class-options li {
    width: 100%;
}

#class-options input[type="radio"]+label {
    transition: 0.1s;
}

#class-options input[type="radio"]:hover+label {
    text-decoration: underline;
    border-color: grey;
    color: lightgray;
}

#class-options input[type="radio"]:checked+label {
    text-decoration: none;
    background-color: var(--primary-color);
    border-color: transparent;
    color: white;
}

#class-options label {
    padding: 5px;
    border: 1px solid lightgrey;
    z-index: 90;
    border-radius: 5px;
    text-align: center;
    margin-top: 7px;
}

.flex-col { 
    display: flex;
    flex-direction: column;
}

.flex-row { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    padding: 8px 25px;
    z-index: 90;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    border: 0;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
    background-color: var(--primary-hover-color);
}

button[type="submit"] {
    width: calc(100% - 5px);
}